<!DOCTYPE html>
<html>

<body>
	<h1>New Entry</h1>

	<form action="" method="post" encType="multipart/form-data">
		<label>Name</label>
		<input name="name" type="text" require><br>
		<label>Borough</label>
		<input name="borough" type="text"><br>
		<label>Cuisine</label>
		<input name="cuisine" type="text"><br><br>
		<strong>Address</strong><br>
		<label>Street</label>
		<input name="street" type="text"><br>
		<label>Building</label>
		<input name="building" type="text"><br>
		<label>Zipcode</label>
		<input name="zipcode" type="text"><br><br>
		<strong>GPS</strong><br>
		<label>Latitude</label>
		<input name="latitude" type="text"><br>
		<label>Longtitude</label>
		<input name="longtitude" type="text"><br><br>
		<label>Photo</label>
		<input name="photo" type="file"><br><br>
		<input type="submit" value="Create">
	</form>

	<a href="/read<%= search %>">Go Back</a><br>
	<a href="/logout">Logout</a><br>
</body>

</html>