<!DOCTYPE html>
<html>

<body>
	<h1>Login</h1>
	<form action="" method="post">
		<label>Username</label>
		<input name="userid" type="text" require><br>
		<label>Password</label>
		<input name="password" type="password" require><br>
		<input type="submit" value="Login">
	</form>
	<a href="/register">Create new account</a>
</body>

</html>